<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Presentation.Properties.Settings>
            <setting name="FridayFree" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Weekend" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="Holiday" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="Workday" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Worknight" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
        </Presentation.Properties.Settings>
    </userSettings>
</configuration>